<header>

	<div class="header__wrapper" {% unless page.use-hero %}style="background-color: #2b1b1f; border-bottom: 1px solid #9e9393;"{% endunless %}>
    	<div class="header">
			
    	    <a class="logo" href="/">
    	        <canvas class="logo__logomark" width="64" height="64"></canvas>
    	        <span class="logo__logotype effect--shuffle">{{ site.name }}</span>
    	    </a>
			
    	    <nav class="navigation" id="nav">
    	        <div class="navigation__hamburger" id="nav-toggle">
    	            <i class="material-icons">menu</i>
    	        </div>
    	
    	        <ul class="navigation__list">
				{% for nav in site.navigation %}
    	            <li>
    	              <a href="{{ nav.url }}">{{ nav.label }}</a>
    	            </li>
				{% endfor %}
    	            <li>
    	                <a class="button button--size-small" href="/download">Download</a>
    	            </li>
    	        </ul>
    	    </nav>
    	
		</div>	
	</div>


	{% if page.use-hero %}
			
	<section class="hero">
	    <div class="hero__content">
	        <h1>{{ page.hero-title }}</h1>
	        <h2>{{ page.hero-subtitle }}</h2>
			{% if page.hero-button-label and page.hero-button-url %}
	        <a class="button" href="{{ page.hero-button-url }}">{{ page.hero-button-label }}</a>
			{% endif %}
	    </div>
	</section>
	
	
	{% elsif page.header_title %}
	  <header class="page-header">
	    <div class="page-header-container">
	      {% if page.header_icon %}
	        <div class="page-header-icon">
	          {{ page.header_icon }}
	        </div>
	      {% endif %}

	      <div class="page-header-title">
	        {% if page.breadcrumbs %}
	          <ul class="breadcrumbs">
	            {% for breadcrumb in page.breadcrumbs %}
	              <li class="breadcrumb-item{% if page.url == breadcrumb[1] %} active{% endif %}"><a href="{{ breadcrumb[1] }}">{{ breadcrumb[0] }}</a></li>
	            {% endfor %}
	          </ul>
	        {% endif %}

	        <h1>{{ page.header_title }}</h1>

	        {% if page.header_caption or include.header_caption%}
	          <p>{{ page.header_caption }}{{ include.header_caption }}</p>
	        {% endif %}
	      </div>

	      {% if page.header_btn_text %}
	        <div class="page-header-right">
	          <a class="page-header-btn" href="{{ page.header_btn_href | liquify }}" target="{{ page.header_btn_target }}">{{ page.header_btn_text | liquify }}</a>
	        </div>
	      {% endif %}

	      {% if page.header_html %}
	        <div class="page-header-right">
	          {{ page.header_html }}
	        </div>
	      {% endif %}
	    </div>
	  </header>
	{% endif %}

	

</header>
