@import url("https://fonts.googleapis.com/css?family=Ubuntu+Mono:400,700|Ubuntu:300,400,700");
/*@import url("https://fonts.googleapis.com/icon?family=Material+Icons");*/
@import url("https://cdn.jsdelivr.net/devicons/1.8.0/css/devicons.min.css");


/* fallback */
@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: local('Material Icons'), local('MaterialIcons-Regular'), url(/assets/material.font) format('woff2');
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-feature-settings: 'liga';
  -webkit-font-smoothing: antialiased;
}

html {
    box-sizing: border-box
}

*,*:before,*:after {
    box-sizing: inherit;
    list-style: none;
    margin: 0;
    padding: 0;
}

body {
    color: #001331;
    font-family: "Ubuntu",sans-serif;
    line-height: 1.5;
    overflow-x: hidden
}

a {
    color: blue;
    text-decoration: none
}

a:visited,a:hover {
    color: blue
}

a:hover {
    text-decoration: underline
}

a code {
    color: inherit
}


/*                        */
/*    main content box    */
/*                        */


.container {
    position: relative;
	min-height: 100%;
	background-color: #2b1b1f;
    overflow: hidden
}

main__content__wrapper,.main__content__wrapper {
    background-color: #fff;
}

main__content,.main__content {
    position: relative;
    margin: 0 auto;
    padding-top: 3rem;
	padding-bottom: 2rem;
    min-height: 20rem;
    max-width: 90%;
	background-color: #fff;
}

@media (min-width: 64rem) {
    main__content,.main__content {
        max-width: 62rem;
    }
}

singlepage__content,.singlepage__content {
    position: relative;
    background-color: #2b1b1f;
    z-index: 1
}

singlepage__content:before,.singlepage__content:before {
    -webkit-transform: skewY(-2.5deg);
    transform: skewY(-2.5deg);
    -webkit-transform-origin: left top;
    transform-origin: left top;
    content: "";
    position: absolute;
    top: -1.5rem;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #2b1b1f;
    z-index: -1
}

singlepage__content:after,.singlepage__content:after {
    -webkit-transform: skewY(-2.5deg);
    transform: skewY(-2.5deg);
    -webkit-transform-origin: right top;
    transform-origin: right top;
    content: "";
    position: absolute;
    bottom: -1.5rem;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #2b1b1f;
    z-index: -1
}



/*                           */
/*   Header & Hero & Title   */
/*                           */


page-header,.page-header {
    position: relative;
    padding-top: 7.5rem;
	padding-bottom: 2rem;
    background-color: #fdfdfd;
    border-bottom: 1px solid #ebebeb;
    z-index: 1
}

page-header-container,.page-header-container {
    position: relative;
    max-width: 80%;
    margin: 0 auto;
	padding: 0;
    box-sizing: border-box
}

@media (min-width: 64rem) {
    page-header-container,.page-header-container {
        max-width: 60rem;
    }
}

page-header h1,.page-header h1 {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: default;
    position: relative;
    color: #fff;
    font-family: "Ubuntu",sans-serif;
    font-size: 2.25rem;
	line-height: 1.2;
    font-weight: 200;
    margin: 0;
    max-width: 60rem;
    color: #262e33;
    z-index: 2
}

@media (min-width: 40rem) {
    page-header h1,.page-header h1 {
        font-size:3rem
    }
}



page-header h1 img,.page-header h1 img {
    display: inline-block;
    vertical-align: middle
}

page-header h1 span,.page-header h1 span {
    color: #9e9393;
    margin: 0 0.5rem
}

.page-header .page-header-icon {
    vertical-align: middle;
    display: inline-block;
    margin-right: 1rem;
}

@media (min-width: 600px) {
    .page-header .page-header-icon {
        margin-right:1.5rem;
    }
}

.page-header .page-header-icon img {
    max-width: 100%;
    height: auto;
    display: block
}

@media (max-width: 800px) {
    .page-header .page-header-icon {
        
    }
}

.page-header .page-header-title {
    display: inline-block;
    vertical-align: middle;
    margin-right: 1rem;
	max-width: 70%;
}

.page-header .page-header-btn {
    border-color: #d4d7d9;
    background-image: linear-gradient(to top,#f7f9fa,#fcfcfc);
    color: #505659;
    font-size: 14px;
    line-height: 39px;
    height: 40px
}

.page-header .page-header-btn:active {
    background: #f7f9fa
}

.page-header .page-header-btn em {
    font-style: normal;
    color: #aab0b2
}

.page-header .page-header-right {
    position: absolute;
    right: 0;
    top: 50%;
    margin-top: -20px
}

@media (max-width: 800px) {
    .page-header .page-header-right {
        position:static;
        margin-top: 20px;
        display: inline-block;
        vertical-align: bottom
    }
}



.hero {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    position: relative;
    height: 30rem;
    margin-top: 3px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 0;
/*    background-image: -webkit-linear-gradient(290deg, #001331 40%, #041024);
    background-image: linear-gradient(160deg, #001331 40%, #041024);
    background-color: #001331;*/
    background-image: url(/assets/HeaderBackground.png);
    background-size: cover;
    z-index: 1
}

.hero__content {
    position: relative;
    color: #fff;
    margin: 0 auto;
    padding: 0 1rem;
    max-width: 60rem;
    z-index: 2
}

.hero__content h1 {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: default;
    position: relative;
    color: #fff;
    font-family: "Ubuntu",sans-serif;
    font-size: 2rem;
    font-weight: 200;
    line-height: 1.25;
    margin-bottom: 0.625rem;
    margin-top: 0;
	text-align: center;
}

@media (min-width: 40rem) {
    .hero__content h1 {
        font-size:3rem
    }
}

@media (min-width: 60rem) {
	.hero {
	    height: 34rem;
	}
    .hero__content h1 {
        font-size:3.25rem
    }
}

.hero__content h2 {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: default;
    position: relative;
    color: #efefef;
	padding-top: 0.5rem;
    font-family: "Ubuntu",sans-serif;
    font-size: 1rem;
    font-weight: 200;
    margin-bottom: 2.25rem;
    margin-top: 0
}

@media (min-width: 40rem) {
    .hero__content h2 {
        font-size:1.15rem
    }
}

@media (min-width: 60rem) {
    .hero__content h2 {
        font-size:1.25rem
    }
}

.header {
    margin: 0 auto;
    padding: 1.5rem 1rem 0;
    max-width: 60rem
}

.header__wrapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding-bottom: 1rem;
    border-top: 3px solid #07DE05;
    z-index: 100
}

.logo {
    position: relative;
    float: left;
    cursor: pointer
}

.logo:hover {
    border: none;
    text-decoration: none
}

.logo__logomark {
    display: none;
    position: absolute;
    top: -0.875rem;
    left: 0;
    cursor: inherit
}

.logo--with-logomark .logo__logomark {
    display: block
}

.logo__logotype {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: default;
    color: #fff;
    font-family: "Ubuntu Mono",monospace;
    font-size: 2.25rem;
    font-weight: 700;
    text-transform: lowercase;
    line-height: 1.25;
    cursor: inherit
}

.theme--light .logo__logotype {
    color: #001331
}

.logo--with-logomark .logo__logotype {
    margin-left: 4.5rem
}

.logo__tagline {
    position: absolute;
    right: 0;
    bottom: -0.5rem;
    color: #9e9393;
    font-family: "Ubuntu Mono",monospace;
    font-size: 0.75rem;
    font-weight: 700;
    text-transform: uppercase;
    text-align: right;
    margin-left: 0.25rem
}

.logo__tagline:before {
    content: "<"
}

.logo__tagline:after {
    content: ">"
}

.navigation {
    -webkit-transition: -webkit-transform 350ms;
    transition: -webkit-transform 350ms;
    transition: transform 350ms;
    transition: transform 350ms, -webkit-transform 350ms;
    position: absolute;
    top: 0;
    right: 0;
    width: 15rem;
    z-index: 100
}

@media (min-width: 40rem) {
    .navigation {
        -webkit-transform:none !important;
        transform: none !important;
        position: static;
        float: right;
        width: auto
    }
}

.navigation--open {
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%)
}

.navigation__hamburger {
    position: relative;
    float: right;
    padding: 1rem;
    cursor: pointer;
    z-index: 150
}

@media (min-width: 40rem) {
    .navigation__hamburger {
        display:none
    }
}

.navigation__hamburger i {
    color: #fff;
    font-size: 2rem
}

.theme--light .navigation__hamburger i {
    color: #001331
}

.navigation__list {
    -webkit-transition: box-shadow 350ms;
    transition: box-shadow 350ms;
    box-shadow: none
}

@media (max-width: 40rem) {
    .navigation__list {
        position:absolute;
        top: 0;
        left: 100%;
        width: 100%;
        height: 100vh;
        padding: 1rem;
        background-color: #041024;
        border-left: 1px solid #001331
    }
}

.navigation__list li {
    float: left
}

@media (max-width: 40rem) {
    .navigation__list li {
        width:100%
    }
}

@media (max-width: 40rem) {
    .navigation__list .button,.navigation__list {
        display:block;
        text-align: center;
        width: 100%;
        margin-top: 1rem
    }
}

.navigation__list a {
    color: #fff
}

.theme--light .navigation__list a {
    color: #001331
}

@media (max-width: 40rem) {
    .theme--light .navigation__list a {
        color:#fff
    }
}

.navigation__list a:not(.button) {
    display: block;
    font-size: 1rem
}

@media (max-width: 40rem) {
    .navigation__list a:not(.button) {
        padding:0.25rem 0 0.35rem;
        border-bottom: 1px solid #162640
    }
}

@media (min-width: 40rem) {
    .navigation__list a:not(.button) {
        margin:0.45rem 1.25rem 0 0
    }
}

@media (max-width: 40rem) {
    .navigation--open .navigation__list {
        box-shadow:0 0 10rem 10rem rgba(4,16,36,0.75)
    }
}





/*                   */
/*       Footer      */
/*                   */

.cta {
    z-index: 1;
    background-color: #2b1b1f;
    background-position: center
}

.cta__content {
    color: #fff;
    position: relative;
    margin: 0 auto;
    padding: 7.5rem 1rem 5rem;
    max-width: 60rem
}

@media (min-width: 60rem) {
    .cta__content {
        padding-top:10rem
    }
}

.cta__content h2 {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: default;
    color: white;
    font-size: 1.55rem;
    font-weight: 700;
    margin-bottom: 0
}

@media (min-width: 60rem) {
    .cta__content h2 {
        font-size:2.5rem
    }
}

.cta__content h3 {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: default;
    color: white;
    font-size: 1.55rem;
    font-weight: 200;
    margin-bottom: 1.5rem;
    margin-top: 0
}

@media (min-width: 60rem) {
    .cta__content h3 {
        font-size:2.5rem
    }
}

.cta__content p {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: default;
    color: white;
    font-size: 1rem;
    font-weight: 200;
    margin-bottom: 1.5rem;
    margin-top: 0
}

@media (min-width: 40rem) {
    .cta__content p {
        font-size:1.25rem
    }
}

.footer {
    background-color: #2b1b1f;
    min-height: 12rem;
	padding-top: 4rem;
    border-top: 1px solid #9e9393;
    background-position: center;
}

.footer__content {
    position: relative;
    color: #9e9393;
    text-align: center;
    padding: 2rem 1rem 0.5rem
}

.footer__links {
    text-align: center;
    padding-bottom: 2rem;
    display: block;
    list-style: none;
    margin: 0;
    padding-top: 0;
	padding-right: 0;
	padding-left: 0;
}

.footer__links li {
    display: inline;
    margin: 0 0.5rem
}

.footer__links li a {
    color: #9e9393;
    font-size: 0.875rem
}



/*                                */
/*   Hyperlink & Button styling   */
/*                                */

a.button,.button {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: default;
    display: inline-block;
    color: #fff;
    font-size: 1.25rem;
    line-height: 1.15;
    padding: 0.75em 1.5em;
    background: none;
    border: 3px solid rgba(0, 255, 0, 0.85);
    border-radius: 1.5em;
    outline: none;
    cursor: pointer
}

a.button:active,.button:active {
    border-color: blue
}

a.button:hover,.button:hover {
    text-decoration: none
}

a.button--size-small,.button--size-small {
    font-size: 1rem;
    padding: 0.5em 1.5em
}

a.button--fill-solid,.button--fill-solid {
    padding: 0.75em 1.25em;
    background-color: #2b1b1f
}

a.button--no-border,.button--no-border {
    border: none
}

a.button i, i,.button i {
    color: #9e9393;
    position: relative;
    top: -2px;
    font-size: 1.5em;
    vertical-align: middle;
    line-height: 0.5;
    margin-left: -0.2em
}





/*                       */
/*    404 page styling   */
/*                       */


.not-found {
    height: 100vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    background-color: #2b1b1f;
    background-position: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center
}

.not-found__content {
    color: #fff;
    margin: 0 auto;
    padding: 0 1rem;
    max-width: 60rem;
    background-color: inherit
}

.not-found__content h1 {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: default;
    position: relative;
    background-color: inherit;
    position: relative;
    color: white;
    font-family: "Ubuntu Mono",monospace;
    font-size: 10rem;
    font-weight: 700;
    margin-bottom: 1.5rem;
    margin-top: 0
}






/*                       */
/* code highlight colors */
/*                       */


.hljs-comment,.hljs-quote {
    color: #65737e
}

.hljs-variable,.hljs-template-variable,.hljs-tag,.hljs-name,.hljs-selector-id,.hljs-selector-class,.hljs-regexp,.hljs-deletion {
    color: #bf616a
}

.hljs-number,.hljs-built_in,.hljs-builtin-name,.hljs-literal,.hljs-type,.hljs-params,.hljs-meta,.hljs-link {
    color: #d08770
}

.hljs-attribute {
    color: #ebcb8b
}

.hljs-string,.hljs-symbol,.hljs-bullet,.hljs-addition {
    color: #a3be8c
}

.hljs-title,.hljs-section {
    color: #8fa1b3
}

.hljs-keyword,.hljs-selector-tag {
    color: #b48ead
}

.hljs {
    display: block;
    overflow-x: auto;
    color: #c0c5ce;
    padding: 0.5em
}

.hljs-emphasis {
    font-style: italic
}

.hljs-strong {
    font-weight: bold
}

.hljs {
    color: #fff;
}

.hljs-comment,.hljs-quote {
    color: #9e9393
}

.hljs-string,.hljs-symbol,.hljs-bullet,.hljs-addition,.hljs-number,.hljs-built_in,.hljs-builtin-name,.hljs-literal,.hljs-type,.hljs-params,.hljs-meta,.hljs-link,.hljs-keyword,.hljs-selector-tag,.hljs-variable,.hljs-template-variable,.hljs-tag,.hljs-name,.hljs-selector-id,.hljs-selector-class,.hljs-regexp,.hljs-deletion {
    color: rgba(72, 240, 72, 0.85);
}

[data-lang] .hljs-built_in {
    color: #fff
}

